build
__pycache__
.vscode
*.so
*.mp4
!TestVideo.mp4
test.*
yolov8n.pt
main.py
**/target
*.lock

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
